.rsc_title {
  position: inherit;
  top: -76px;
}

.likes{
    top: 155px;
    left: 25px;
    position: relative;

  .numLikes {
    position: relative;
    top : -1px;
    padding-left: 10px;
  }
}


.formatoIcon {
  margin-top: 44px;
  margin-right: 10px;
  font-size: 2em;
}


.stats {
  position: relative;
  top: -110px;
  margin-right: 10vw;
}

.c {
  margin: 0 3vw;
}
.icons {
  font-size: 30px;
  position: relative;
}

.nums{
  position: relative;
  top: -5px;
  font-size: 25px;
}