@media only screen and (max-width: 800px) {
    .prueba {
        padding: 10px;
    }
}
.is-hidden {
    display: none;
}

@media only screen and (max-width: 846px) {
    .iconos {
        display: flex;
        flex-wrap: wrap;
        bottom: 0;
        position: absolute;
        height: 30px;
        margin-bottom: 0;
    }

    .relative {
        position: relative;
    }
    .icono {
        display: flex;
        flex-direction: row;
        bottom: 0%;
    }


}